@{
    ViewData["Title"] = "Home Page";
}

<div class="headerMain">
    <div class="header-text">
            <img src="~/images/logo-nobg.png" />
            <p>Look and feel like a babe while breastfeeding this summer! </p>
            <br />
            <a asp-controller="Home" asp-action="Shop" class="btn btn-primary btn-lg">Shop Now</a>
        </div>

</div>
<div class="about">
    <div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>This is assignment project. Please visit original Esther and Albie shop <a href="https://estherandalbie.com/">HERE</a>.</p>
    <br />
</div>
</div>


