@*24.10- Tatiana*@

<div class="container p-3 mb-5">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">List of Products</h2>
		</div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
               <i class="bi bi-plus-circle"></i> &nbsp; Create New Product
			</a>
		</div>
	</div>
    <br /><br />

<table id="productTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Size</th>
            <th>Category</th>
            <th></th>
		</tr>
	</thead>
</table>
</div>

@*24.10 Tatiana - load product data into data tables using script*@
@section Scripts{
    <script src = "~/js/product.js"></script>
}